// ============ 响应式样式 ============

// 小屏幕隐藏
@media (max-width: @screen-sm - 1) {
  .d-sm-none {
    display: none !important;
  }
}

// 中等屏幕隐藏
@media (max-width: @screen-md - 1) {
  .d-md-none {
    display: none !important;
  }
}

// 大屏幕隐藏
@media (max-width: @screen-lg - 1) {
  .d-lg-none {
    display: none !important;
  }
}

// 超大屏幕隐藏
@media (max-width: @screen-xl - 1) {
  .d-xl-none {
    display: none !important;
  }
}

// 小屏幕显示
@media (min-width: @screen-sm) {
  .d-sm-block {
    display: block !important;
  }
  
  .d-sm-inline {
    display: inline !important;
  }
  
  .d-sm-inline-block {
    display: inline-block !important;
  }
  
  .d-sm-flex {
    display: flex !important;
  }
}

// 中等屏幕显示
@media (min-width: @screen-md) {
  .d-md-block {
    display: block !important;
  }
  
  .d-md-inline {
    display: inline !important;
  }
  
  .d-md-inline-block {
    display: inline-block !important;
  }
  
  .d-md-flex {
    display: flex !important;
  }
}

// 大屏幕显示
@media (min-width: @screen-lg) {
  .d-lg-block {
    display: block !important;
  }
  
  .d-lg-inline {
    display: inline !important;
  }
  
  .d-lg-inline-block {
    display: inline-block !important;
  }
  
  .d-lg-flex {
    display: flex !important;
  }
}

// 超大屏幕显示
@media (min-width: @screen-xl) {
  .d-xl-block {
    display: block !important;
  }
  
  .d-xl-inline {
    display: inline !important;
  }
  
  .d-xl-inline-block {
    display: inline-block !important;
  }
  
  .d-xl-flex {
    display: flex !important;
  }
}
