.ldesign-form {
  font: inherit;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.ldesign-form.has-header,
.ldesign-form.has-footer {
  min-height: 100%;
}
.ldesign-form__header {
  display: flex;
  border-bottom: 1px solid var(--td-border-level-1-color);
}
.ldesign-form__footer {
  display: flex;
  border-top: 1px solid var(--td-border-level-1-color);
}
.ldesign-form__content {
  flex: 1;
  flex-grow: 1;
  overflow: auto;
}
@-moz-document url-prefix() {
  .ldesign-form__content {
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
    scrollbar-width: thin;
  }
}
.ldesign-form__content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.ldesign-form__content::-webkit-scrollbar-thumb {
  border: 0px solid transparent;
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
.ldesign-form__content::-webkit-scrollbar-thumb:vertical:hover,
.ldesign-form__content::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.ldesign-form.is-in-scrollcontainer {
  padding-bottom: var(--form-gutter);
}
.ldesign-form.has-footer .ldesign-form__footer,
.ldesign-form.has-header .ldesign-form__footer,
.ldesign-form.has-footer .ldesign-form__content,
.ldesign-form.has-header .ldesign-form__content,
.ldesign-form.has-footer .ldesign-form__header,
.ldesign-form.has-header .ldesign-form__header {
  padding: var(--form-padding);
}
.ldesign-form .l-form {
  display: grid;
  gap: calc(var(--form-gutter));
}
.ldesign-form__skeleton {
  position: absolute;
  top: 0;
  left: 0;
}
.ldesign-form__skeleton-row {
  display: grid;
  grid-template-columns: repeat(var(--form-cols), 1fr);
}
.ldesign-form__skeleton-input {
  height: var(--td-comp-size-l);
  background-color: #f00;
  width: 100%;
}
.ldesign-form__title {
  font-size: var(--td-font-size-title-medium);
  color: var(--td-text-color-primary);
  margin: 0;
}
.ldesign-form__title:empty {
  display: none;
}
.ldesign-form__buttons {
  display: flex;
  align-items: center;
  gap: var(--td-comp-margin-s);
  flex: 1;
  overflow: hidden;
}
.ldesign-form__buttons.is-inline .ldesign-form__buttons-prefix {
  justify-content: flex-end;
}
.ldesign-form__buttons-prefix {
  flex: 1;
  overflow: hidden;
  display: flex;
  gap: var(--td-comp-margin-s);
}
.ldesign-form__buttons-suffix {
  gap: var(--td-comp-margin-s);
  display: flex;
}
.ldesign-form__buttons-suffix.is-align--right {
  justify-content: flex-end;
}
.ldesign-form__buttons-suffix.is-align-center {
  justify-content: center;
}
.ldesign-form__buttons-suffix:only-child {
  flex: 1;
}
.ldesign-form__buttons.is-align--center .ldesign-form__buttons-prefix,
.ldesign-form__buttons.is-align--left .ldesign-form__buttons-prefix,
.ldesign-form__buttons.is-align--right .ldesign-form__buttons-prefix,
.ldesign-form__buttons.is-align--center .ldesign-form__buttons-suffix,
.ldesign-form__buttons.is-align--left .ldesign-form__buttons-suffix,
.ldesign-form__buttons.is-align--right .ldesign-form__buttons-suffix {
  flex: 0 0 auto;
}
.ldesign-form__buttons.is-align--center {
  justify-content: center;
}
.ldesign-form__buttons.is-align--right {
  justify-content: flex-end;
}
.ldesign-form__row {
  display: grid;
  grid-template-columns: repeat(var(--form-cols), 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--form-gutter);
}
.ldesign-form__group {
  display: grid;
  gap: var(--form-gutter);
}
.ldesign-form__group:not(.has-more) .ldesign-form__expand {
  display: none;
}
.ldesign-form__preview,
.ldesign-form__more {
  display: grid;
  gap: var(--form-gutter);
  margin-top: 1px;
}
.ldesign-form__more {
  margin-top: -1px;
}
.ldesign-form__col {
  grid-column: span var(--form-col);
  position: relative;
}
.ldesign-form__col.hide-colon .l-form__label {
  display: none;
}
.ldesign-form__col.is-static .l-input {
  padding: 0;
  border: none;
}
.ldesign-form__col.is-static .l-input.l-is-disabled {
  background-color: transparent;
  color: inherit;
}
.ldesign-form__col.is-static .l-input.l-is-disabled .l-input__inner {
  color: inherit;
}
.ldesign-form__col.is-static .l-textarea__inner {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.ldesign-form__col.is-static .l-form__label {
  color: var(--td-text-color-secondary);
}
.ldesign-form__col.is-button::after {
  width: 0px !important;
}
.ldesign-form__col.is-button .l-form__label {
  font-size: 0;
}
.ldesign-form__col.is-button .ldesign-form__core-content {
  gap: var(--td-comp-margin-s);
}
.ldesign-form__col.is-adjust {
  grid-column: span var(--form-adjust-col);
}
.ldesign-form__col.is-multiple-label .l-form__label {
  display: inline-flex;
}
.ldesign-form__col.is-multiple-label .l-form__label label {
  display: inline-block;
  width: calc(100% - var(--form-colon-width));
  line-height: 1.1;
  white-space: wrap;
}
.ldesign-form__col .l-form__label {
  padding-right: var(--form-label-space);
}
.ldesign-form__col .l-form__item {
  position: relative;
  z-index: 10;
}
.ldesign-form__core {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: var(--form-inner-space, var(--td-comp-margin-s));
}
.ldesign-form__core-prefix:empty,
.ldesign-form__core-suffix:empty {
  display: none;
}
.ldesign-form__core-content {
  flex-shrink: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.ldesign-form__core-content .l-date-picker,
.ldesign-form__core-content .l-date-range-picker {
  width: 100%;
}
.ldesign-form__core-content.is-button-align--right {
  justify-content: flex-end;
}
.ldesign-form__core-content.is-button-align--right .ldesign-form__buttons-suffix {
  justify-content: flex-end;
}
.ldesign-form__core-content.is-button-align--center {
  justify-content: center;
}
.ldesign-form__core-content.is-button-align--center .ldesign-form__buttons-suffix {
  justify-content: center;
}
.ldesign-form__core-content.is-button-align--left {
  justify-content: flex-start;
}
.ldesign-form__core-content.is-button-align--left .ldesign-form__buttons-suffix {
  justify-content: flex-start;
}
.ldesign-form__core-content.is-button-align--justify .ldesign-form__buttons-suffix {
  justify-content: flex-end;
}
.ldesign-form__core-content.is-content-align--right {
  justify-content: flex-end;
}
.ldesign-form.is-variant--document {
  padding: calc(var(--form-gutter) / 2) 0;
}
.ldesign-form.is-variant--document .l-form__label {
  padding: 0 var(--form-label-padding);
}
.ldesign-form.is-variant--document .ldesign-form__row {
  padding: 0 calc(var(--form-gutter) / 2);
}
.ldesign-form.is-variant--document .ldesign-form__row + .ldesign-form__row {
  margin-top: -1px;
}
.ldesign-form.is-variant--document .ldesign-form__core {
  padding-left: calc(var(--form-gutter) / 2);
}
.ldesign-form.is-variant--document .ldesign-form__col::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--form-gutter) / -2);
  left: calc(var(--form-gutter) / -2);
  bottom: calc(var(--form-gutter) / -2);
  right: calc(var(--form-gutter) / -2);
  box-sizing: border-box;
  border: 1px solid var(--td-border-level-1-color);
  z-index: 9;
}
.ldesign-form.is-variant--document .ldesign-form__col::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--form-gutter) / -2 + 1px);
  bottom: calc(var(--form-gutter) / -2 + 1px);
  left: calc(var(--form-gutter) / -2);
  width: calc(var(--form-label-width) + var(--form-gutter) / 2);
  background-color: var(--td-bg-color-container-hover);
  border-right: 1px solid var(--td-border-level-1-color);
  box-sizing: border-box;
  z-index: 8;
}
.ldesign-form.is-variant--document .ldesign-form__col + .ldesign-form__col {
  margin-left: -1px;
}
